<section id="content-wrapper">
    <div id="heading">
        <h5>
            <a href="#/home">Home</a>
            <span class="raquo">»</span>
            About Us
        </h5>
    </div>
    <div id="about-page-container" class="container">
        <div class="row">
            <div class="col-sm-8">
                <p class="meta">Posted by {{author}} on {{date}} in the About Page | {{numberOfComments}} Comments</p>
                {{#each content}}
                <p>{{this}}</p>
                {{/each}}
                <h3 class="comment-title">{{numberOfComments}} Comments</h3>
                <div id="comment-container" class="container-fluid">
                    {{#each comments}}
                    <div class="comment row">
                        <div class="avatar-container col-sm-2">
                            <div class="avatar-box">
                                <img class="avatar" src="../../images/avatar.png" alt="Avatar Image">
                            </div>
                            <span class="comment-date">{{this.date}}</span>
                        </div>
                        <div class="comment-content col-sm-10">
                            <h5>{{this.author}} says:</h5>
                            <p>{{this.content}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <h3 class="comment-title">Leave a Comment</h3>
            </div>
            <div class="col-sm-4">
                <h4>Recent Posts</h4>
                <aside class="widget">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ex cumque laborum voluptates fugit nisi aut, dicta aliquam consequatur in, natus expedita cum inventore corporis accusantium distinctio! Veniam, deserunt, reprehenderit.</p>
                </aside>
                <h4>Recent Comments</h4>
                <aside class="widget">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ex cumque laborum voluptates fugit nisi aut, dicta aliquam consequatur in, natus expedita cum inventore corporis accusantium distinctio! Veniam, deserunt, reprehenderit.</p>
                </aside>
                <h4>About Us</h4>
                <aside class="widget">
                    <p>{{content.[0]}}</p>
                </aside>
            </div>
        </div>
    </div>
</section>