<div id="img-slider" class="container-fluid">
    <div class="row">
        <div class="col-sm-3 slider-img-container">
            <div class="slider-img" style="background-image: url('{{this.[1].url}}')"></div>
        </div>
        <div class="col-sm-3 slider-img-container">
            <div class="slider-img" style="background-image: url('{{this.[2].url}}')"></div>
        </div>
        <div class="col-sm-3 slider-img-container">
            <div class="slider-img" style="background-image: url('{{this.[3].url}}')"></div>
        </div>
        <div class="col-sm-3 slider-img-container">
            <div class="slider-img" style="background-image: url('{{this.[4].url}}')"></div>
        </div>
    </div>
    <div id="featured-image" style="background-image: url('{{this.[0].url}}')">
        <i class="featured-left-arrow"></i>
        <a href="#">
            <i class="featured-zoom"></i>
        </a>
        <a href="#">
            <i class="featured-more"></i>
        </a>
        <i class="featured-right-arrow"></i>
        <div id="featured-image-title">
            <h2>{{this.[0].title}}</h2>
        </div>
    </div>
</div>