<section id="content-wrapper">
    <div id="heading">
        <h5>
            <a href="#/home">Home</a>
            <span class="raquo">»</span>
            {{this.[0].title}}
        </h5>
    </div>
    <div id="article-page-container" class="container">
        <div class="row">
            <div class="col-sm-8">
                <p class="meta">Posted by {{this.[0].author}} on {{this.[0].date}} in {{this.[0].category}} | {{this.[0].numberOfComments}} Comments</p>
                {{#each this.[0].content}}
                <p>{{this}}</p>
                {{/each}}
                {{#if this.[0].comments}}
                <h3 class="comment-title">{{this.[0].numberOfComments}} Comments</h3>
                <div id="comment-container" class="container-fluid">
                    {{#each this.[0].comments}}
                    <div class="comment row">
                        <div class="avatar-container col-xs-2">
                            <div class="avatar-box">
                                <img class="avatar" src="/static/images/avatar.png" alt="Avatar Image">
                            </div>
                            <span class="comment-date">{{this.date}}</span>
                        </div>
                        <div class="col-xs-10">
                            <div class="comment-content">
                                <h5>{{this.author}} says:</h5>
                                <p>{{this.content}}</p>
                            </div>
                            <div class="comment-arrow"></div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
                <h3 class="comment-title">Leave a Comment</h3>
            </div>
            <div class="col-sm-4">
                <h4>Recent Posts</h4>
                <aside class="widget">
                    <ul>
                        {{#each this.[1]}}
                        <li><a href="/#/article/{{this.id}}">{{this.title}}</a></li>
                        {{/each}}
                    </ul>
                </aside>
                <h4>Recent Comments</h4>
                <aside class="widget">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ex cumque laborum voluptates fugit nisi aut, dicta aliquam consequatur in, natus expedita cum inventore corporis accusantium distinctio! Veniam, deserunt, reprehenderit.</p>
                </aside>
                <h4>About Us</h4>
                <aside class="widget">
                    <p>{{this.[2]}}</p>
                </aside>
            </div>
        </div>
    </div>
</section>